.container {
  min-height: calc(100vh - 120px);

  & * {
    font-family: "Cairo", sans-serif !important;
  }
}

.progressContainer {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;

  span {
    height: 2px !important;
  }
}

@media (max-width: 600px) {
  .container {
    min-height: calc(100vh - 112px);
  }

  .progressContainer {
    top: 56px;
  }
}

//
.carousel_box {
  // max-height: 50vh;
  // overflow: hidden;
}

.carousel {
  // height: calc(100vh - 120px); // Set the height to 50% of the viewport height
  // overflow: hidden; // Optional: Hide overflow if images exceed the height

  // .carousel-item {
  //   height: 50vh; // Ensure each item also takes the full height
  //   display: flex; // Use flexbox to center the image
  //   align-items: center; // Center vertically
  //   justify-content: center; // Center horizontally

  //   img {
  //     max-height: 100%; // Ensure the image does not exceed the height
  //     object-fit: cover; // Cover the area while maintaining aspect ratio
  //   }
  // }
}
