*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

input,
textarea {
  background-color: #fff !important;
}

input[type="file"] {
  cursor: pointer;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.calculator {
  height: 25rem;
  width: 15rem;
}

.result-panel {
  overflow: auto !important;
}